<form>
  <div class="form-group">
    <label for="name">Book name</label>
    <input type="text" class="form-control" id="name" placeholder="Book Name">
  </div>
  <div class="form-group">
    <label for="publish">Book publisher</label>
    <input type="text" class="form-control" id="publish" placeholder="Book Publisher">
  </div>
  <div class="form-group">
    <label for="url">Purchase book</label>
    <input type="url" class="form-control" id="url" placeholder="Purchase Book">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>
